* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: ui-sans-serif, system-ui, -apple-system;
}

ul {
	list-style-type: none;
}

h2 {
	font-weight: normal;
}

dialog {
	&[open] {
		position: fixed;
		width: 80vw;
		height: 50vh;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 999;

		& article {
			background-color: unset;
		}
	}

	& footer {
		padding: 20px;
	}
}

footer {
	& button {
		--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
			0 1px 2px -1px rgb(0 0 0 / 0.1);
		--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
			0 1px 2px -1px var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
			var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
		text-transform: uppercase;
		font-size: 1rem;
		outline: 0;
		border: 0;
		padding: 10px;
		cursor: pointer;
	}

	& .button--cancel {
		color: rgb(178, 193, 212);
		background-color: white;
	}

	& .button--confirm {
		background-color: rgb(255 111 0);
		color: white;
	}

	& menu {
		display: flex;
		justify-content: flex-end;
		padding: 20px 0;
		gap: 20px;
	}
}

header {
	background-color: rgb(56 85 116);
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 0.8rem;
	align-items: center;
	& img {
		height: 2rem;
	}

	& ul {
		display: none;
		position: absolute;
		width: 220px;
		z-index: 99;
	}
	& a {
		text-decoration: none;
		color: white;
	}
}

.logo {
	display: flex;
	align-items: end;

	& img {
		margin-inline-end: 10px;
	}

	color: white;
	text-decoration: none;
	font-size: 1.25rem;
}

.menu {
	display: inline-block;
	position: relative;
	padding: 15px 20px;
	align-self: stretch;
}

.menu ul {
	/* display: block; */
	left: calc(-220px * 0.9);
	color: rgb(42 72 101);
	background-color: white;
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);

	& li {
		padding: 10px;
		border-bottom: 1px solid rgb(42 72 101 / 0.25);
	}

	& a {
		font-weight: bold;
		color: unset;
	}

	& li:has(a):hover {
		background-color: rgb(42 72 101 / 0.05);
	}

	& a:visited {
		color: unset;
	}
}

.menu:hover ul {
	display: block;
}

.profile {
	display: flex;
	/* align-items: center;
	justify-content: center; */

	& p {
		display: flex;
		align-items: center;
	}
}

.main__home {
	background-color: rgb(178 193 212);
	min-height: 100vh;
}

.main__restaurant {
	background-color: rgb(229 234 240);
	min-height: 90vh;
}

article {
	margin: 0 auto;
	background-color: rgb(229 234 240);
	padding: 20px 40px;
}

article {
	width: 75%;
}

.restaurants {
	display: grid;
	margin-top: 20px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

	gap: 40px;

	& li {
		background: white;
		max-width: 300px;
	}

	& a {
		color: black;
		display: flex;
		flex-direction: column;
		flex: 2 1 100%;
	}

	& h2 {
		font-weight: normal;
	}
}

.image-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-height: 300px;
	min-height: 300px;
	position: relative;

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
	}
}

a {
	text-decoration: none;
}

.restaurant__meta {
	display: flex;
	font-weight: 500;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.restaurant__details {
	padding: 20px;
}

.restaurant__rating {
	padding: 5px 0;
	display: flex;
	align-items: center;

	& ul {
		display: flex;
	}

	& svg {
		width: 2rem;
		height: 2rem;
		color: rgb(255 202 40);
	}

	& span {
		color: rgb(156 163 175);
	}
}

.img__section {
	width: 100%;
	height: 400px;
	position: relative;
	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		max-width: unset;
	}
}

.details {
	position: absolute;
	bottom: 0;
	padding: 20px;
	color: white;

	& span {
		color: inherit;
	}
}

.details__container {
	--tw-gradient-from: #c60094 var(--tw-gradient-from-position);
	--tw-gradient-to: rgb(56 85 116 / 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
	background-image: linear-gradient(to top right, var(--tw-gradient-stops));
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgb(24 25 26 / 50%);
	width: 100%;
	height: 100%;
}

.reviews {
	& .review__item {
		padding: 40px;
		border-bottom: 1px solid rgb(156 163 175 / 0.25);
	}

	& time {
		font-size: 0.8rem;
		color: darkgrey;
	}
}

.actions {
	position: absolute;
	z-index: 1;
	bottom: -30px;

	right: 0;
	display: flex;
	justify-content: flex-end;
	& img {
		height: 4rem;
	}

	.review {
		--tw-ring-offset-shadow: 0 0 #0000;
		--tw-ring-shadow: 0 0 #0000;
		--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
			0 4px 6px -4px rgb(0 0 0 / 0.1);
		cursor: pointer;
		background-color: rgb(255 202 40);
		border-radius: 0.75rem;
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
			var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	}

	.add {
		--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
			0 4px 6px -4px rgb(0 0 0 / 0.1);
		--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
			0 4px 6px -4px var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
			var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
		background-color: rgb(255 143 0);
		border-radius: 9999px;
		cursor: pointer;
		height: 4rem;
	}

	.add input {
		display: none;
	}

	:where(.review, .add) {
		margin: 0 30px;
	}
}

#review {
	padding: 20px;
	font-size: 17px;
	border: none;
	border-bottom: 2px solid rgb(255 111 0);
	width: 100%;
}

/* Thanks to: https://codepen.io/chris22smith/pen/MJzLJN */
.star-rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.radio-input {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

.radio-label {
	cursor: pointer;
	font-size: 0;
	color: rgba(0, 0, 0, 0.2);
	transition: color 0.1s ease-in-out;
}

.radio-label:before {
	content: "★";
	display: inline-block;
	font-size: 32px;
}

.radio-input:checked ~ .radio-label {
	color: #ffc700;
	color: gold;
}

.radio-label:hover,
.radio-label:hover ~ .radio-label {
	color: goldenrod;
}

.radio-input:checked + .radio-label:hover,
.radio-input:checked + .radio-label:hover ~ .radio-label,
.radio-input:checked ~ .radio-label:hover,
.radio-input:checked ~ .radio-label:hover ~ .radio-label,
.radio-label:hover ~ .radio-input:checked ~ .radio-label {
	color: darkgoldenrod;
}

.average-rating {
	position: relative;
	appearance: none;
	color: transparent;
	width: auto;
	display: inline-block;
	vertical-align: baseline;
	font-size: 25px;
}

.average-rating::before {
	--percent: calc(4.3 / 5 * 100%);
	content: "★★★★★";
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(0, 0, 0, 0.2);
	background: linear-gradient(
		90deg,
		gold var(--percent),
		rgba(0, 0, 0, 0.2) var(--percent)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.rating-picker {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.filter-menu {
	background-color: white;
	border-radius: 3px;
	border-bottom: 1px solid rgb(27 58 87);

	& summary {
		font-weight: bold;
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	& form {
		display: flex;
		flex-direction: column;
		padding: 20px;
		padding-bottom: 0;
	}

	& label {
		padding: 10px 0;
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		color: rgb(75 85 99);
		font-size: 0.75rem;
		line-height: 1rem;
	}

	& img {
		height: 4rem;
		max-width: 100%;
	}

	& form div {
		display: flex;
		gap: 10px;
	}

	& select {
		color: rgb(17 24 39);
		font-size: 0.875rem;
		line-height: 1.25rem;
		padding-top: 1rem;
		padding-bottom: 0.5rem;
		padding-left: 0.625rem;
		padding-right: 0.625rem;
		border: 0;
		border-bottom-width: 2px;
		border-style: solid;
		border-color: #e5e7eb;
	}

	& p:first-child {
		font-weight: 300;
		font-size: 1.25rem;
		line-height: 1.75rem;
		margin-bottom: 2px;
	}

	& p:last-child {
		color: rgb(42 72 101);
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}

.filter {
	margin: 0 auto;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 30px 0px;

	& span {
		font-weight: 500;
		line-height: 1.25rem;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		background-color: rgb(71 98 130);
		border-radius: 9999px;
		color: white;
		font-size: 0.95rem;
	}

	& button {
		cursor: pointer;
		margin-left: 5px;
		padding: 2px 10px;
		color: white;
		background-color: transparent;
		outline: none;
		border: none;
		font-size: 0.8rem;
	}
}
